* {

    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;

}

body {

    background-color: black;

}

h1 {
    
    text-align: center;
    font-size: 20px;

}

.main-header .logo {

    width: 340px;
    padding: 10px 100px;

}

.main-header {

    background-color: #594814;
    display: flex;
    padding: 12px 80px 12px 122px;
    justify-content: space-between;
    align-items: center;

}

.main-header ul {

    display: flex;
    gap: 100px;
    list-style: none;
    
}

.main-header ul a {

    color: black;
    text-decoration: none;

}
 
.banner img {

    display: flex;

}