@import url('https://fonts.googleapis.com/css2?family=Ms+Madi&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.title-principal {
    text-align: center;
    font-family: 'Ms Madi', cursive;
    font-size: 40px;
}


.title {
    text-align: center;
}

.main-header .logo {
    width: 340px;
    padding: 10px 100px;
}

.main-header {
    background-color:#D9D0C7;
    display: flex;
    padding: 12px 80px 12px 122px;
    justify-content: space-between;
    align-items: center;
}

.main-header ul {
    display: flex;
    gap: 100px;
    list-style: none;
}

.main-header ul a {
    font-size: 25px;
    color: black;
    text-decoration: none;
}
 
.banner {
    width: 100%;
    height: 70%;
}

footer {
    background-color: #D9D0C7;
}

.main-title {
    margin: 37px 122px;
    width: 340px;
    height: 30px;
}

.main-section {
    display: flex;
    align-content: center;
    justify-content: space-between;
    gap: 36px;
    margin: 37px 123px 140px 123px;
    text-align: justify;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 31px;
    padding: 20px;
    background-color: #D9D0C7;
    width: 400px;
    height: 850px;
}

.card-img {
    display: flex;
    justify-content: center;
    align-content: center;
    border: 20px;
}

.card img {
    border-radius: 31px;
}

.link {
    display: flex;
    background-color: #F2EEEB;
    border-radius: 31px;
}

.link a {
    text-align: center;
    width: 100%;
    height: 100%;
    color: black;
    text-decoration: none;
}

.video {
    width: 100%;
    height: 100%;
    border-radius: 31px;

  }

.box-video {
    height: 850px;
    margin: 37px 123px 50px 123px;
    display: flex;
    justify-content: center;
}
